html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html,
body,
#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.flow {
  border: 4px solid rebeccapurple !important;
  width: 100% !important;
}

.remove-process-button {
  border-radius: 3px;
  margin-top: -1.6rem !important;
  font-size: 10px;
  margin-right: 0.25rem;
  background-color: red;
  border-color: red;
}

.reactflow-wrapper {
  height: 100vh;
  width: 100vw;
  background-color: #141414;
}

.node-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  height: 100%;
  width: 100%;
}

.grid-item {
  text-align: center; /* Center content within grid items */
  border-radius: 4px;
}


.node-header {
  background-color: rebeccapurple;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  justify-content: space-between; /* Space out elements */
  border-radius: 4px 4px 0px 0px;
  height: 50px;
  width: 100%;
  font-size: large;
}

.store-node-header {
  background-color: rebeccapurple;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center; /* Space out elements */
  height: 50px;
  border-radius: 7px;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  width: fit-content;
}

.handles {
  grid-column: span 4; /* Stretch the handles across all 4 columns */
  display: flex;
  justify-content: space-between;
}

.process-table-display {
  border: 2px solid rebeccapurple !important;
  /*display: block;*/
  width: 100% !important;
  height: fit-content !important;

}

.node-attribute-name {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  font-size: 16px;
}

.port-handle {
  scale: 2;
}

.input-handle {
  background-color: blue !important;
  border: 1px solid blue !important;
}

.output-handle {
  background-color: green !important;
  border: 1px solid green !important;
}

/* Node container styling */
.react-flow__node {
  background-color: #1e1e1e;
  color: #ffffff;
  border: 2px solid #555555;
  border-radius: 8px;
  font-family: Roboto, monospace;
  font-size: 12px;
  width: fit-content;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

  .store-node {
    border-radius: 50% !important;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.object-node__content {
  align-items: center;
  justify-content: center;
  display: block;
}

.object-node {
  border-radius: 50% !important;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-leaf-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.types-data-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  height: 100%;
  width: 100%;
}

.types-grid-item {
  text-align: center; /* Center content within grid items */
  border-radius: 4px;
}

.get-data-container {
  background-color: transparent;
  grid-template-columns: repeat(2, 1fr);
}

.param-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  height: 100%;
  width: 100%;
}

.param-item {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.submit-metadata {
  border-radius: 4px;
  background-color: green;
  color: white;
  font-weight: bold;
}

.block {
  font-weight: 700;
  font-size: 16px;
}

.header {
  align-items: center !important;
  justify-content: center !important;
}

.action-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.action-button {
  padding: 1rem;
}

.bigraph-schema-type {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.new-data-button {
  padding: 1rem;
}

.divider {
  width: 2rem;
}


